{% extends './base.html' %}

{% block title %}Búsqueda de Alumnos{% endblock %}

{% block body %}

    <form action="{% url 'buscar_alumno' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-5 my-2 my-md-0 mw-100 navbar-search" method="POST">
        {% csrf_token %}
        <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar por nombre..." name="buscar" value="{{ request.POST.buscar }}">
        <div class="input-group-append">
            <button class="btn btn-info" type="submit">Buscar Alumno</button>
        </div>
        </div>
    </form>

  <div class="row">
    <div class="col-sm-12">
      <h4>Listado de Alumnos según la búsqueda:</h4>
      {% if alumnos %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Código:</th>
            <th>Apellido:</th>
            <th>Nombre:</th>
            <th>DNI:</th>
            <th>Fecha de Nacimiento:</th>
            <th>Teléfono:</th>
            <th colspan="2">Opciones de Manejo:</th>
          </tr>
        </thead>

        <tbody>
          {% for alumno in alumnos %}
            <tr>
              <td>{{ alumno.id_alumno }}</td>
              <td>{{ alumno.apellido }}</td>
              <td>{{ alumno.nombre }}</td>
              <td>{{ alumno.dni }}</td>
              <td>{{ alumno.fecha_nacimiento }}</td>
              <td>{{ alumno.telefono }}</td>
              <td><a href="{% url 'edicionalumno' alumno.id_alumno %}" class="btn btn-info">Editar</a></td>
              <td><a href="{% url 'eliminaralumno' alumno.id_alumno %}" class="btn btn-danger">Eliminar</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>No se encontraron resultados del alumno solicitado.</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
