{% extends './base.html' %}
{% block title %}Edición de Especialidad{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 offset-md-4">
    <h4>Edición de Alumno:</h4>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'editaralumno' id_alumno=alumno.id_alumno %}" method="POST">

        
          {% csrf_token %}

          <div class="form-group">
            <label for="txtapellido">Apellidos:</label>
            <input type="text" id="txtapellido" name="txtapellido" value="{{ alumno.apellido }}" class="form-control">
          </div>
          <div class="form-group">
            <label for="txtnombre">Nombre:</label>
            <input type="text" id="txtnombre" name="txtnombre" value="{{ alumno.nombre }}" class="form-control">
          </div>
          <div class="form-group">
            <label for="txtdni">DNI:</label>
            <input type="text" id="txtdni" name="txtdni" value="{{ alumno.dni }}" class="form-control">
          </div>
          <div class="form-group">
            <label for="txtfecha_nacimiento">Fecha nacimiento:</label>
            <input type="date" id="txtfecha_nacimiento" name="txtfecha_nacimiento" value="{{ alumno.fecha_nacimiento }}" class="form-control">
          </div>
          <div class="form-group">
            <label for="txttelefono">Telefono:</label>
            <input type="text" id="txttelefono" name="txttelefono" value="{{ alumno.telefono }}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success form-control">Guardar Alumno</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}








